<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>50273546980-3bmja1dekn5k9c7i95cc3vuqqafjmh26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50273546980-3bmja1dekn5k9c7i95cc3vuqqafjmh26</string>
	<key>API_KEY</key>
	<string>AIzaSyCdetlbJ0z4b1gLKnLjQeB0MCQgCgN09mE</string>
	<key>GCM_SENDER_ID</key>
	<string>50273546980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Crash</string>
	<key>PROJECT_ID</key>
	<string>accist</string>
	<key>STORAGE_BUCKET</key>
	<string>accist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50273546980:ios:e96ad6d6c8700b53</string>
	<key>DATABASE_URL</key>
	<string>https://accist.firebaseio.com</string>
</dict>
</plist>